
@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2">
    <img style="z-index:-1; position: absolute;" src="~/images/genel/bg_3.jpg" class="d-block w-100 h-auto" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">@Localizer["Hakkımızda"]</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/Home/Index">@Localizer["Anasayfa"] <i class="ion-ios-arrow-forward"></i></a></span> <span><a href="/Home/Tarifler">@Localizer["Tarifler"] </a><i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<div class="bg-white">
    <div class="container">
        <br />
        <p>Kübra Yılmaz   <a href="https://github.com/kubraxyilmaz">Github</a><br /></p>
        <p>Merve Sarı   <a href="https://github.com/merveesari">Github</a><br /></p>
        <p>Sedanur Sarıkoç   <a href="https://github.com/sedanursrkoc">Github</a><br /></p>
        <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
    </div>
</div>


